:root {

  --bg-color:black ;
  --card-color:rgb(20, 20, 20) ;
  --accent-color: red;
  --font-color: white;
  --secondary-font-color:white ;
  --box-shadow-color:rgb(40, 40, 40) ;
  --border-color: white;
  --button-color:black;
  
  
}

.light {
  
  --bg-color:white ;
  --card-color:white ;
  --accent-color: blue;
  --font-color: black;
  --secondary-font-color: white;
  --box-shadow-color:black ;
  --border-color: black;
  --button-color:white;
}

* {
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

body {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: -webkit-fixed;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0 0 1rem 1rem;
}

nav {
  max-width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

ul li:first-child {
  margin-right: auto;
}

ul li:last-child {
  display: flex;
  gap: 0.5rem;
}

ul li a {
  text-decoration: none;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: border-color 0.2s ease-in;
}

.search {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.search:enabled {
  color: var(--font-color);
}

.searchBar:focus-within {
  border-color: var(--accent-color);
}

.searchbutton {
  padding: 0 0.25rem;
}

main {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPage {
  margin: 5rem 0;
  width: 50%;
}

.inputItem {
  max-width: 50%;
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}

.addNote {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;

}

.addNoteButton {
  width: 3rem;
}

.doneNoteButton {
  position: fixed;
  right: 5rem;
  width: 3rem;
  display: none;

}

.addNoteButton,
.doneNoteButton:hover {
  cursor: pointer;
}

.headingInput {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.headingInput:focus-within {
  border-color: var(--accent-color);
  box-shadow: 0 0 5rem var(--box-shadow-color);
}

.textInput {
  box-sizing: border-box;
  border: 0.2rem solid var(--border-color);
  min-height: 10rem;
  padding: 0.5rem;
  resize: vertical;
  border-radius: 1rem;
  transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.textInput:focus-within {
  border-color: var(--accent-color);
  box-shadow: 0 0 5rem var(--box-shadow-color);
}

.addButton {
  max-width: 100%;
  padding: 0.5rem 0;
  border-radius: 1rem;
  background-color: var(--button-color);
  cursor: pointer;
}

.savedDiarySection {
  width: 100%;
}

.savedDiary {
  max-width: 100%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4rem;
}

.noteContainer {
  background-color: var(--card-color);
  display: flex;
  width: 100%;
  gap: 0.5rem;
  border-radius: 1rem;
  /* margin-top: 5rem; */
  box-shadow:0 0.1rem 1rem var(--box-shadow-color) ;
}

.note {
  background-color: transparent;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.createdDate {
  background-color: transparent;
  position: absolute;
  top: 0.2rem;
  left: 0.8rem;
}

.createdTime {
  background-color: transparent;
  position: absolute;
  bottom: 0.2rem;
  right: 0.8rem;
}

.createdDate,
.createdTime {
  color:var(--secondary-font-color);
  opacity: 0.5;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.noteHeading {
  text-align: center;
  background-color: transparent;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--border-color);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.notePara {
  overflow-wrap: break-word;
  background-color: transparent;
  word-wrap: break-word;
}

.headingEdittng {
  text-align: center;
  background-color: transparent;
  font-size: 1rem;
  border: 0.1px solid var(--border-color);
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  border-radius: 1rem;
  transition: border-color 0.2s ease-in;
}

.headingEdittng:focus-within {
  border-color: var(--accent-color);
}

.paraEdittng {
  font-size: 1rem;
  background-color: transparent;
  border: 0.1px solid var(--border-color);
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  border-radius: 1rem;
  resize: vertical;
  transition: border-color 0.2s ease-in;
}


.paraEdittng:focus-within {
  border-color: var(--accent-color);
}

.correction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.noteEdit {
  background-color: transparent;
  cursor: pointer;
}

.noteDelete {
  background-color: transparent;
  cursor: pointer;
}

.noteSave {
  background-color: transparent;
  cursor: pointer;
  opacity: 0.1;
}


@media screen and (width : 450px) {
  .mainPage {
    margin: 4rem 0;
    max-width: 95%;
  }
}

@media screen and (max-width : 1024px) {
  .mainPage {
    max-width: 70%;
  }

}

@media screen and (max-width : 600px) {
  .mainPage {
    margin: 4rem 0;
    max-width: 90%;
  }

}

@media screen and (max-width : 780px) {
  .mainPage {
    margin: 4rem 0;
    max-width: 80%;
  }

}